.brand-more-thumbs
  display flex
  flex-direction column
  height 100%

  &__top
    position relative
    display block
    text-decoration none
    margin-bottom 15px
    overflow hidden
    border-radius 4px

  &__bottom
    flex 1 1 0
    display flex
    flex-direction column

  &__fon
    position relative
    &:before
      content ""
      display block
      padding-top 75%

      @media (min-width: $tablet)
        padding-top 64%

    &:after
      content ""
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      background linear-gradient(0deg, rgba(16, 16, 16, 0.74), rgba(16, 16, 16, 0.74))

    img
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      width 100%
      height 100%
      object-fit cover

  &__logo
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    max-width 65%

    img
      max-height 105px

  &__text
    font-size 14px
    font-weight 300
    margin-bottom 20px
    flex 1 0 auto
    display none

  &__more
    text-align center
    font-size 0
    @media (max-width: $tablet - 1)
      .site-btn
        min-width 0
        width 100%
        font-size 8px
        border-width 2px
        padding 9px 10px

  @media (min-width: $tablet)
    &__top
      margin-bottom 30px
      border-radius 6px

    &__text
      font-size 18px
      text-align center
      padding 0 20px
      margin-bottom 30px
      display block
