$system-font = unquote('Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif')

$colors = {
  theme: #101010,
  accent: #BC6F96,
}

$fonts = {
  base: $system-font,
  headings: $system-font
}

$body = {
  fontFamily: $fonts.base,
  fontSize: 16px,
  fontWeight: 300,
  lineHeight: 1.4,
  color: #fff,
  bgc: #101010
}

$selection = {
  bgc: $colors.theme,
  color: #fff
}

$selectionHeadings = {
  bgc: $colors.accent,
  color: #000
}

$placeholders = {
  normal : getColor($body.color, 'hint'),
  focus  : transparent
}

$orange = #EB680D;

$mobile = 400px;
$tablet = 768px;
$desc = 1024px;
$full = 1280px;
