<!doctype html>
<html lang="{{ app.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ pageTitle }}</title>

        <meta name="theme-color" content="#101010">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/animation.css">
        <link rel="stylesheet" href="css/app.css?04-06">

        {% block inlineStyles %}{% endblock %}
    </head>

    <body block="app" class="{{ bodyClasses }}">

        <div elem="wrapper">

            {% if layout.header %}
            	{% include 'header.html' %}
            {% endif %}

            <div elem="content">

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- app:main -->

            </div><!-- app:content -->

            {% if layout.footer %}
            	{% include 'footer.html' %}
            {% endif %}

        </div><!-- app:wrapper -->

		{{ inlineSvgSprite() }}
		{% include 'mobile-menu.html' %}
		{% include 'remodal.html' %}

        <script src="js/vendors/jquery-3.6.0.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.js?04-06"></script>

    </body><!-- app -->
</html>
