<div block="mobile-menu">
	<div elem="inner">
		<button elem="close"></button>
		<ul elem="list">
			{% for item in menu %}
			    <li {% if item.level2 %}class="menu-item-has-children"{% endif %}>
			    	<a href="{{item.link}}">{{item.name}}</a>
			    	{% if item.level2 %}
			    		<ul>
			    			{% for i in item.level2 %}
			    			    <li>
			    			    	<a href="{{i.link}}">{{i.name}}</a>
			    			    </li>
			    			{% endfor %}
			    		</ul>
			    	{% endif %}
			    </li>
			{% endfor %}
		</ul>
	</div>
</div><!-- mobile-menu -->
