<div block="text-block">
	{% if citationBlockType != '2' %}
		<div elem="inner" class="site-width">
			<div class="site-title wow fadeInUp" data-wow-delay="100ms">
				<h2 data-letter="L">Leading with a vision <span></span></h2>
			</div>
			<div class="site-description wow fadeInUp" data-wow-delay="200ms">
				Courageous goals and sustainable growth have brought us to where <br>we are standing today
				<span><span></span></span>
			</div>
			<div elem="text" class="wow fadeInUp" data-wow-delay="300ms">
				<p>Thanks to our lean, still owner-managed company structure, flat hierarchies, and a family-like, informal working<br> atmosphere. We benefit from a close and loyal cooperation between all team members at Tekpoint.</p>
			</div>
		</div>
	{% endif %}

	{% include 'citation-block.html' %}
</div><!-- text-block -->
