.text-block
  padding-top 60px

  &__inner
    padding-bottom 80px

  @media (min-width: $desc)
    padding-top 120px

    &__inner
      padding-bottom 12px

      & + .citation-block
        padding-top 80px
